@* profile Template File *@
@(student: User, writingFeed: WritingFeed)

@main() {
	<div id="profile-picture">
		<h2 class="section-heading">@student.getFullName()</h2>
		<img src="@routes.Assets.at(student.getProfileImageURI())">
	</div>
	<article id="profile-goals">
		<h2 class="section-heading">Goals</h2>
		<div id="progress">
			<span id="percent">30%</span>
			<div id="bar"></div>
		</div>
	</article>
	<article id="profile-writing-feed">
		<h2 class="section-heading">Writing Feed</h2>
		@listResponses(student, writingFeed.getResponses())
	</article>
	<aside id="profile-survey">
		<h2 class="section-heading">Survey</h2>
		<p>
			<b>Q: What is your quest?</b><br>
			A: To seek the grail.
		</p>
		<p>
			<b>Q: What is your favorite color?</b><br>
			A: Blue.
		</p>
		<p>
			<b>Q: What is the capital of Assyria?</b><br>
			A: What? I don't know tha- AHHHHHHH!!!
		</p>
	</aside>
	<aside id="profile-feedback">
		<h2 class="section-heading">Notable Feedback</h2>
	</aside>
	<nav id="footer">
		<a href="#">Link 1</a>
		<a href="#">Link 1</a>
		<a href="#">Link 1</a>
		<a href="#">Link 1</a>
	</nav>
}