@(prompt: Prompt, response: models.Response)

@main("Respond to a prompt") {
  <form method="post" action="@routes.Student.saveResponse()">
    <h2>Respond to this prompt:</h2>
    <div>
      @if(prompt != null) {
      	<p>@prompt.getText()</p>
      }
    </div>
    <input type="hidden" name="promptId" value="@prompt.getPromptId()">
    <input type="hidden" name="groupId" value="@prompt.getGroupId()">
    @if(response != null) {
    	<textarea name="responseText">@response.getText()</textarea>
    } else {
        <textarea name="responseText"></textarea>
    }
    <button type="submit">Save</button>
  </form>
}